# This is the TOML configuration file for the Rusty PyRQ Scheduler

name = "BTU Scheduler Daemon"
max_seconds_between_updates = 90
mysql_user = "root"
mysql_password = "some_password"
mysql_host = "localhost"
mysql_port = 3313
mysql_database = "site_db_name"
rq_host = "127.0.0.1"
rq_port = 11000
